<form class='mt-4' method="POST" action="">
    <a class="back_courses_list" href="/me/stored/courses">
        <i class="bi bi-arrow-return-left"></i>
        Danh sách khóa học
    </a>
    <h3>Khóa học của tôi</h3>
    <select required>
        <option value="">-- Hành động --</option>
        <option value="restore">Khôi phục</option>
        <option value="delete">Xóa</option>
    </select>
    <button type='submit' class='btn btn-primary'>Thực hiện</button>
    <table class='table align-middle'>
        <thead>
            <tr class="text-center">
                <th class="check_selected_row" scope="col">
                    <input id="select_all" type="checkbox" name="select_all">
                </th>
                <th class="index_table" scope='col'>STT</th>
                <th class="name_course" scope='col'>Tên khóa học</th>
                <th class="level_course" scope='col'>Trình độ</th>
                <th class="created_time" scope='col'>Thời gian tạo</th>
                <th class="action" scope='col'>Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {{#each courses}}
                <tr>
                    <td class="text-center" scope="col">
                        <input id="select_all" type="checkbox" name="select_all">
                    </td>
                    <th class="text-center" scope='row'>{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td class="text-center">{{this.level}}</td>
                    <td class="text-center">{{this.createdAt }}</td>
                    <td class="text-center">
                        <a class="restore_btn" data-bs-whatever="{{this._id}}" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Khôi phục">
                            <i class="bi bi-arrow-repeat restore_icon"></i>
                        </a>
                        |
                        <a href="" data-bs-whatever="{{this._id}}" data-bs-toggle="modal" data-bs-target="#confirm_dialog">
                            <i data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Xóa vĩnh viễn" class="bi bi-trash delete_icon"></i>
                        </a>
                    </td>
                </tr>
                    {{else}}
                    <td colspan="5" class="text-center">
                        Bạn chưa xóa khóa học nào.
                    </td>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- form hidden delete --}}
<form name="form_delete" method='POST'></form>
{{!-- form hidden restore --}}
<form name="form_restore" method='POST'></form>


{{!-- Modal confirm delete courses --}}
<div class="modal fade" id="confirm_dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa khóa học</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Nhấn OK để xóa khóa học. Lưu ý, sau khi xóa không thể khôi phục khóa học!
      </div>
      <div class="modal-footer">
        <button id="confirm_delete" type="button" class="btn btn-danger">OK</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<script>
    // Delete course
    const confirm_dialog = document.getElementById('confirm_dialog')
    const delete_btn = document.getElementById('confirm_delete')
    const form_delete = document.forms['form_delete']
    var courseID

    if (confirm_dialog) {
        confirm_dialog.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            courseID = button.getAttribute('data-bs-whatever')
        })
    }

    delete_btn.onclick = () => {
        form_delete.action = `/courses/${courseID}/forever?_method=DELETE`
        form_delete.submit()
    }

    //restore course
    const restore_btn = document.querySelectorAll('.restore_btn')
    const form_restore = document.forms['form_restore']
    
    restore_btn.forEach(btn => {
        btn.addEventListener('click', (e) => {
            e.preventDefault()
            courseID = btn.getAttribute('data-bs-whatever')
            form_restore.action = `/courses/${courseID}/restore?_method=PATCH`
            form_restore.submit()
        })
    })
    

    //Tooltip
    document.addEventListener('DOMContentLoaded', function () {
        const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    });
</script>