<h3>Cập nhật khóa học</h3>
<form method='POST' action='/courses/{{course._id}}?_method=PUT'>
    <div class='mb-3'>
        <label for='exampleInputEmail1' class='form-label'>Tên khóa học</label>
        <input
            type='text'
            class='form-control'
            id='exampleInputEmail1'
            name='name'
            value="{{course.name}}"
        />
    </div>
    <div class='mb-3'>
        <label for='exampleInputEmail1' class='form-label'>Mô tả</label>
        <input
            type='text'
            class='form-control'
            id='exampleInputEmail1'
            name='description'
            value="{{course.description}}"
        />
    </div>
    <div class='mb-3'>
        <label for='exampleInputEmail1' class='form-label'>VideoId</label>
        <input
            type='text'
            class='form-control'
            id='exampleInputEmail1'
            name='videoId'
            value="{{course.videoId}}"
        />
    </div>
    <div class='mb-3'>
        <label for='exampleInputEmail1' class='form-label'>Trình độ</label>
        <input
            type='text'
            class='form-control'
            id='exampleInputEmail1'
            name='level'
            value="{{course.level}}"
        />
    </div>
    <button type='submit' class='btn btn-primary'>Lưu lại</button>
</form>